<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Основи проектування інтелектуальних систем</title>
  <meta name="description" content="Курсова Робота">
  <meta name="author" content="O.Khytrov">
  <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
  <link rel="stylesheet" href="styles.css?v=1.0">
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

<body>
  <div id="app">
    <div class="container-fluid">
      <h2>Основи проектування інтелектуальних систем</h2>
      <h6>O.Khytrov INmz-01s</h6>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link" @click.prevent="setActive('setup')" :class="{ active: isActive('setup')}"
            href="#setup">Setup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" @click.prevent="setActive('training')" :class="{ active: isActive('training') }"
            href="#training">Traning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" @click.prevent="setActive('exam')" :class="{ active: isActive('exam') }"
            href="#exam">Exam</a>
        </li>
      </ul>
      <div class="tab-content py-3" id="myTabContent">
        <div class="tab-pane fade" :class="{ 'active show': isActive('setup')}" id="setup">
          <div class="slidecontainer">
            <label for="delta">Block size {{ blockSize }}</label>
            <input type="range" min="0" max="150" class="slider" id="blockSize" v-model="blockSize">
          </div>
          <input class="mb-2" type="file" id="addMap" @change="addMap">
          <div id="preview">
          </div>
          <div id="map-container">
            <canvas id="source"></canvas>
          </div>
        </div>
        <div class="tab-pane fade" :class="{ 'active show': isActive('training') }" id="training">
          <div id="Training">
            <div class="row">
              <div class="col-1">
                <div id="training-set">
                </div>
              </div>
              <div class="col-2">
                <div class="item-name" v-for="(item,index) in items" v-bind:style="{ height: (+blockSize+2) + 'px' }">
                  <input type="text" v-model="items[index].name">
                </div>
              </div>
              <div class="col-2">
                <div class="item-name" v-for="(item,index) in items" v-bind:style="{ height: (+blockSize+2) + 'px' }">
                  <select type="text" v-model="items[index].highlightColor">
                    <option style="color:green;" value="green">green</option>
                    <option style="color: blue;" value="blue">blue</option>
                    <option style="color: yellow;" value="yellow">yelllow</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <p>Select matrix method:</p>
                <div>
                  <input type="radio" id="m_avg" name="method" value="m_avg" checked v-model="method">
                  <label for="m_avg">Avg</label>
                </div>
                <div>
                  <input type="radio" id="m_red" name="method" value="m_red" v-model="method">
                  <label for="m_red">Red</label>
                </div>
                <div>
                  <input type="radio" id="m_green" name="method" value="m_green" v-model="method">
                  <label for="m_green">Green</label>
                </div>
                <div>
                  <input type="radio" id="m_blue" name="method" value="m_blue" v-model="method">
                  <label for="m_blue">Blue</label>
                </div>

                <div>
                  <input type="radio" id="m_lum" name="method" value="m_lum" v-model="method">
                  <label for="m_lum">Luminosity</label>
                </div>

                <div class="slidecontainer">
                  <label for="delta">Delta {{ delta }}</label>
                  <input type="range" min="-1" max="150" class="slider" id="delta" v-model="delta">
                </div>
                <div>Optimal delta: {{optimalDelta}}</div>
                <div>Max Em : {{maxEm}}</div>
              </div>
            </div>
            <button id="btnBuild" class="btn btn-primary" v-on:click="buildMatrix">Build matrix</button>
            <button id="btnTrain" class="btn btn-primary" v-on:click="train">Training</button>
            <div class="mt-3" id="container">
              <div class="item-details" v-for="(item, index) in items">
                <h3>{{item.name}}</h3>
                <button v-if="item.matrix.length"
                  @click="item.showMatrix=(!item.showMatrix)">{{item.showMatrix?'Hide':'Show'}} matrix</button>
                <div v-if="item.showMatrix">
                  <table class="matrix">
                    <thead>
                      <tr>
                        <th></th>
                        <th v-for="(cell,index) in item.matrix[0]">{{index+1}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(row,rowIndex) in item.matrix">
                        <th>{{rowIndex+1}}</th>
                        <td v-for="(cell) in row">{{cell}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>t</th>
                        <td v-for="(t) in item.tolerance">{{t.top}}</td>
                      </tr>
                      <tr>
                        <th>c</th>
                        <th class="highlight" v-for="(c) in item.center">{{c}}</th>
                      </tr>
                      <tr>
                        <th>b</th>
                        <td v-for="(t) in item.tolerance">{{t.bottom}}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <button v-if="item.binMatrix.length"
                  @click="item.showBinaryMatrix=(!item.showBinaryMatrix)">{{item.showBinaryMatrix?'Hide':'Show'}} binary
                  matrix</button>
                <div v-if="item.showBinaryMatrix">
                  <table class="matrix">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="legend" v-for="(cell,index) in item.binMatrix[0]">{{index+1}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(row,rowIndex) in item.binMatrix">
                        <th class="legend">{{rowIndex+1}}</th>
                        <td :class="{ 'black': cell==0}" v-for="(cell) in row">{{cell}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="etalon">
                        <th>e</th>
                        <td v-for="(e) in item.etalon">{{e}}</td>
                      </tr>
                    </tfoot>
                  </table>

                </div>
                <button v-if="trainingComlete"
                  @click="item.showTrainingRes=(!item.showTrainingRes)">{{item.showTrainingRes? 'Hide':'Show'}} training
                  results</button>
                <div v-if="item.showTrainingRes">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>delta </th>
                        <th>neighbour </th>
                        <th>distanse to neighbour</th>
                        <th>radius</th>
                        <th>no_rab_obl_Radius</th>
                        <th>no_rab_obl_dostovirn_D1</th>
                        <th>betta error</th>
                        <th>dostovirn_D1</th>
                        <th>maxKFE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(result,index) in item.trainingResults" :class="{ 'highlight': index==optimalDelta}">
                        <td>{{index }}</td>
                        <td>{{items[result.neighbour].name}}</td>
                        <td>{{result.distanceToNeighbour}}</td>
                        <td>{{result.radius}}</td>
                        <td>{{result.no_rab_obl_Radius}}</td>
                        <td>{{result.no_rab_obl_dostovirn_D1}}</td>
                        <td>{{result.no_rab_pomylka_betta}}</td>
                        <td>{{result.no_rab_pomylka_betta}}</td>
                        <td>{{result.maxKFE}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button v-if="trainingComlete" @click="item.showChart=(!item.showChart)">{{item.showChart?
                  'Hide':'Show'}} chart</button>
                <div v-if="item.showChart">
                  <line-chart :chartdata="item.trainingResults"></line-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" :class="{ 'active show': isActive('exam') }" id="exam">
          <div>
            <button class="btn btn-primary mb-3" v-on:click="exam" :disabled="!trainingComlete">Run exam</button>
            <button class="btn btn-danger mb-3" v-on:click="reset" :disabled="!trainingComlete">Reset exam</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="item.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>