body {
    padding: 20px 0;
  }
table.matrix{
    border-collapse: collapse;
    font-size: 0.75rem;
    table-layout:fixed;
}

table.matrix, th, td {
    border: 1px solid black;
    text-align: center;
    width: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
.highlight{
    background-color: yellow;
}
.slider{
    width: 600px;
}

.etalon{
    background-color: springgreen;
}

canvas {
  cursor: crosshair;
  border: 1px solid #000000;
}
#overlay, #source {
 margin-left: 15px;
 position: absolute;
 left: 0;
}

.training
{
    display: block;
    margin-bottom: 3px;
}
.item-name{
    margin-bottom: 3px;
}
.item-name input{
    height: 50%;
    margin: auto;
}
.black{
    color: white;
    background-color: black;
}
.legend{
    background-color: lightblue;
}